.vux-slider > .vux-indicator > a > .vux-icon-dot.active, .vux-slider .vux-indicator-right > a > .vux-icon-dot.active {
    background-color: #e61a5f!important;
}
.vux-slider > .vux-indicator, .vux-slider .vux-indicator-right {
    position: absolute;
    left:50%;
    margin-left:-30px;
    bottom: 10px;
}
.vux-slider > .vux-swiper > .vux-swiper-item > a > .vux-img{
    background-size:contain!important;
}